@import '../../assets/styles/utils/variables';

.full{
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
	background-color: $white
	
	/*
	
	position: absolute;
	top: 45%;
	left: calc((100% - 320px)/2);
	
	
	
	 */
}
.wrapper{
	position: relative;
	z-index: 1;
	
	padding: 15px;
	background-color: $black--1;
	width: 320px;
	border-radius: 15px;
}


.header{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.title{
	font-size: 22px;
	font-weight: 500;
}
.btn-close{
	display: block;
	width: 25px;
	height: 25px;
	margin-left: auto;
	border: none;
	border-radius: 100%;
	background-color: $gray;
	color: $white;
	cursor: pointer;
}

.btn-gray{
	height: 3rem;
	padding: 0 .75rem;
	color: $white;
	background-color: $gray;
	border: none;
	border-radius: 1rem;
}

.wrapper-inputs{
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem
}

.btn-blue{
	width: 100%;
	height: 3rem;
	padding: 0 .75rem;
	color: $white;
	background-color: $blue;
	border: none;
	border-radius: 1rem;
}