//@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

$black: #000;
$black--1:rgb(39 39 42/1);
$black--2:rgb(63 63 70);
$yellow: #FFE8AB;
$pink: #F6DDFF;
$red: #8d2b3d;
$gray: rgb(82 82 91/1);
$white: #fff;
$blue: rgb(59 130 246/1);

$border-radius-block: 1em;

$default-font: 'Gilroy', sans-serif;
