@import '../../../assets/styles/utils/variables';

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 8px;

	color: $white;
}

.progress {
	position: relative;
	margin-bottom: 15px;
	width: 100px;
	height: 100px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	background: conic-gradient($yellow calc(3.6deg * 50), $gray 0deg);

	&::before {
		content: '';
		position: absolute;
		width: 90px;
		height: 90px;
		border-radius: 50%;

		background-color: $gray;
	}
}

.value {
	position: relative;
	color: $white;
}
