@import '../../assets/styles/utils/variables';

.name{
	margin-bottom: 10px;
	font-size: 14px;
}
.input{
	padding: 0 10px;
	height: 32px;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 15px;
	
	color: $white;
	background-color: gray;
	caret-color: $blue;
	font-weight: 500;
	font-size: 16px;
	&:hover{
		border-color: $blue;
	}
	&::placeholder{
		color: gray;
	}
}