@import '../../assets/styles/utils/variables';

.section {
	padding: 0;
}
.main {
	display: grid;
	grid-template-columns: 30% calc(70% - 1.5rem);
	gap: 1.5rem;

	@media (max-width: $breakpoint-tablet-xl) {
		grid-template-columns: 100%;
	}
}

.leftWidgets {
	height: 100%;
	display: flex;
	align-items: stretch;
	flex-basis: 30%;
	flex-direction: column;
	gap: 1.5rem;

	@media (max-width: $breakpoint-tablet-xl) {
		width: 100%;
		flex-basis: 100%;
	}

	.balance {
		font-size: 1.8em;
		font-weight: 600;
	}

	.infoText {
		padding: 0.3rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.title {
			margin-right: 1rem;
			
			white-space: nowrap;
		}
		&Right{
			.percent{
				margin-right: .5em;
			}
		}
	}
}

.rightChart {
	height: 100%;
	
	.wnd{
		height: 100%;
	}
	
	@media (max-width: $breakpoint-tablet-xl) {
		width: 100%;
		flex-basis: 100%;
	}
}



.wnd {
	
	width: 100%;
	padding: 1.5rem;
	border: 0.1rem solid $white;
	border-radius: $wnd-radius;
}
.perfomance {
	&Item:last-child{
		margin-top: 1rem;
	}
	&Item {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&.plus{
			.wrapIcon{
				border: 1px solid $green;
				background-color: lighten($green, 40%);
			}
			svg{
				color: darken($green,10%);
			}
			
		}
		&.minus{
			.wrapIcon{
				border: 1px solid $red;
				background-color: lighten($red, 40%);
			}
			svg{
				rotate: 90deg;
				color: $red;
			}
			.percent{
				background-color: $red;
			}
		}
		
		&Left {
			display: flex;
			align-items: flex-start;
			
			.imgCoin {
				position: relative;
				margin-right: 1rem;
				width: 2.8rem;
				height: 2.8rem;
				
				img {
					object-fit: contain;
					border: 1px solid $white;
					border-radius: 100%;
					overflow: hidden;
				}
				.wrapIcon{
					position: absolute;
					bottom: -.3em;
					right: -.3em;
					
					display: flex;
					justify-content: center;
					align-items: center;
					
					width: 1em;
					height: 1em;
					
					border-radius: 100%;
				}
				svg {
					width: .5em;
					height: .5em;
				}
			}
			.infoCoin {
				display: flex;
				flex-direction: column;
				height: 100%;

				.title {
					color: lighten($gray, 40%);
					line-height: 1;
					font-size: 0.7em;
					font-weight: 400;
				}

				.nameCoin {
					font-size: 1em;
					font-weight: 600;
					line-height: 1;
				}
			}
		}
		&Right {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: .2em;
			
			span{
				line-height: 1;
			}
		}
	}
}
.list {
	margin-top: 2rem;
}
.history {
	margin-top: 2rem;
}
.percent {
	
	display: inline-block;
	width: fit-content;
	vertical-align: middle;

	line-height: 1;
	font-size: 0.6em;
	padding: 0.4em;
	border-radius: 0.5rem;
}
