@import '../../assets/styles/utils/variables';

.header{
	padding: 1.5rem;
	
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
	
	width: 100%;
	border-bottom: 1px solid $white;
}

.icon{
	font-size: 2rem;
	color: $white;
}