@import '../utils/variables';

.btn-gray{
	height: 3rem;
	padding: 0 .75rem;
	color: $white;
	background-color: $gray;
	border: none;
	border-radius: 1rem;
}

.btn-blue{
	height: 3rem;
	padding: 0 .75rem;
	color: $white;
	background-color: $blue;
	border: none;
	border-radius: 1rem;
}