@import '../utils/variables';

html {
	font-size: 14px;
}

body {
	background-color: $black;
	padding: 0;
	margin: 0;
	color: $white;
	font-size: 1.6rem;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;

	@media (max-width: $breakpoint-desktop-xl) {
		font-size: 1.4rem;
	}
	@media (max-width: $breakpoint-tablet-xl) {
		font-size: 1.2rem;
	}
	@media (max-width: $breakpoint-mobile-xl) {
		font-size: 1rem;
	}
}

img {
	max-width: 100%;
}

.minusBg {
	background-color: $red;
}
.minusColor {
	color: $red;
}
.plusBg {
	background-color: $green;
}
.plusColor {
	color: $green;
}
