@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-black.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-black.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-black.svg#gilroy-black') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 900; /* Задаем вес для Black */
    font-style: normal; /* Обычный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-blackitalic.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-blackitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-blackitalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-blackitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-blackitalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-blackitalic.svg#gilroy-blackitalic') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 900; /* Задаем вес для Black Italic */
    font-style: italic; /* Курсивный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 700; /* Задаем вес для Bold */
    font-style: normal; /* Обычный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-bolditalic.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-bolditalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-bolditalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-bolditalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-bolditalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-bolditalic.svg#gilroy-bolditalic') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 700; /* Задаем вес для Bold Italic */
    font-style: italic; /* Курсивный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-extrabolditalic.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-extrabolditalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-extrabolditalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-extrabolditalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-extrabolditalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-extrabolditalic.svg#gilroy-extrabolditalic') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 800; /* Задаем вес для Extra Bold Italic */
    font-style: italic; /* Курсивный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-heavy.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-heavy.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-heavy.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-heavy.svg#gilroy-heavy') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 900; /* Задаем вес для Heavy */
    font-style: normal; /* Обычный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-heavyitalic.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-heavyitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-heavyitalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-heavyitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-heavyitalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-heavyitalic.svg#gilroy-heavyitalic') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 900; /* Задаем вес для Heavy Italic */
    font-style: italic; /* Курсивный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-lightitalic.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-lightitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-lightitalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-lightitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-lightitalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-lightitalic.svg#gilroy-lightitalic') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 300; /* Задаем вес для Light Italic */
    font-style: italic; /* Курсивный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 500; /* Задаем вес для Medium */
    font-style: normal; /* Обычный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-mediumitalic.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-mediumitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-mediumitalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-mediumitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-mediumitalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-mediumitalic.svg#gilroy-mediumitalic') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 500; /* Задаем вес для Medium Italic */
    font-style: italic; /* Курсивный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 400; /* Задаем вес для Regular */
    font-style: normal; /* Обычный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-regularitalic.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-regularitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-regularitalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-regularitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-regularitalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-regularitalic.svg#gilroy-regularitalic') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 400; /* Задаем вес для Regular Italic */
    font-style: italic; /* Курсивный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-semibold.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-semibold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-semibold.svg#gilroy-semibold') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 600; /* Задаем вес для SemiBold */
    font-style: normal; /* Обычный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-semibolditalic.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-semibolditalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-semibolditalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-semibolditalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-semibolditalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-semibolditalic.svg#gilroy-semibolditalic') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 600; /* Задаем вес для SemiBold Italic */
    font-style: italic; /* Курсивный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-thin.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-thin.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-thin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-thin.svg#gilroy-thin') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 100; /* Задаем вес для Thin */
    font-style: normal; /* Обычный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-thinitalic.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-thinitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-thinitalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-thinitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-thinitalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-thinitalic.svg#gilroy-thinitalic') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 100; /* Задаем вес для Thin Italic */
    font-style: italic; /* Курсивный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-ultralight.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-ultralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-ultralight.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-ultralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-ultralight.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-ultralight.svg#gilroy-ultralight') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 200; /* Задаем вес для UltraLight */
    font-style: normal; /* Обычный стиль */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy/gilroy-ultralightitalic.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/Gilroy/gilroy-ultralightitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../../fonts/Gilroy/gilroy-ultralightitalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Gilroy/gilroy-ultralightitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../../fonts/Gilroy/gilroy-ultralightitalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Gilroy/gilroy-ultralightitalic.svg#gilroy-ultralightitalic') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 200; /* Задаем вес для UltraLight Italic */
    font-style: italic; /* Курсивный стиль */
}
